<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
  <label for= "Team Name">Team Name: <%= params[:name]%></label>
  <label for= "Coach">Coach: <%= params[:coach]%></label>
  <label for= "Point Guard">Point Guard: <%= params[:pg]%></label>
  <label for= "Shooting Guard">Shooting Guard: <%= params[:sg]%></label>
  <label for= "Power Forward">Power Forward: <%= params[:pf]%></label>
  <label for= "Small Forward">Small Forward: <%= params[:sf]%></label>
  <label for= "Center">Center: <%= params[:c]%></label>
 </body>
</html>
